<div class="jumbotron">

    <div id="formContainer">
        <h4 class="display-5">
            int main() {
        </h4>
        <h4 class="display-5"> &emsp; cout << "Welcome to" ; </h4>
        <h4 class="display-5"> &emsp; cout << "ProCode!" ; </h4>
        <h4 class="display-5"> &emsp; return 0; </h4>
        <h4 class="display-5"> } </h4>
        &nbsp;
        <p class="lead"> Say hello to brand new coding experience! </p>
    </div>

    <hr class="my-4">

    <div id="formContainer">
        <p style="text-align: center" class="lead"> Testimonials: </p>
    </div>

    <div id="quoteContainer">

        <div id="textContainer3">
            <blockquote class="blockquote">
                <p class="mb-0"> Wow, thanks to ProCode, I'm now </p>
                <p class="mb-0"> more confident than ever before</p>
                <p class="mb-0"> in my abilities! </p>
                <footer class="blockquote-footer"> Jane Li, <cite title="Source Title"> SWE @ Company X</cite></footer>
            </blockquote>
        </div>

        <div id="textContainer3"> &emsp; &emsp; &emsp; </div>

        <div id="textContainer3">
            <blockquote class="blockquote">
                <p class="mb-0"> 9/10 </p>
                <p class="mb-0"> Actually, 11/10! </p>
                <p class="mb-0"> Ok honestly a 10/10 </p>
                <footer class="blockquote-footer"> Grace Choi, <cite title="Source Title"> Company Y Intern </cite>
                </footer>
            </blockquote>
        </div>

        <div id="textContainer3"> &emsp; &emsp; &emsp; </div>

        <div id="textContainer3">
            <blockquote class="blockquote">
                <p class="mb-0"> Honestly, more a fan of </p>
                <p class="mb-0"> the aesthetics on the site </p>
                <p class="mb-0"> than anything else</p>
                <footer class="blockquote-footer"> Mike Goldberg, <cite title="Source Title"> Company Z Employee </cite>
                </footer>
            </blockquote>
        </div>

    </div>

</div>